In [3]:
# setup
import bq_helper

open_aq = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="openaq")
# explore tables
open_aq.list_tables()

['global_air_quality']

In [4]:
open_aq.head('global_air_quality')

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,Mobile_Cle Elum,037,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,47.197630,-120.958230,1.0
1,Mobile_WhiteSalmon,039,US,pm25,0.00,2017-09-26 20:00:00+00:00,µg/m³,AirNow,45.732414,-121.492330,1.0
2,Mobile_Newport,051,US,pm25,0.00,2017-09-21 18:00:00+00:00,µg/m³,AirNow,48.186485,-117.049160,1.0
3,FR20047,Ain,FR,pm10,49.63,2018-02-28 11:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0
4,FR20047,Ain,FR,no2,11.33,2018-03-19 17:00:00+00:00,µg/m³,EEA France,45.823223,4.953958,1.0

**Questions**
1. Which countries use a unit other than ppm to measure any type of pollution?
2. Which pollutants have a value of exactly 0?

In [5]:
query1 = '''SELECT DISTINCT(country)
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE unit != 'ppm'
        '''
result1 = open_aq.query_to_pandas_safe(query1)
result1

   country
0       US
1       FR
2       TH
3       CL
4       IN
5       NL
6       GB
7       CH
8       PT
9       ES
10      BR
11      TR
12      PE
13      NO
14      HK
15      LV
16      IT
17      CN
18      GH
19      PL
20      SI
21      BD
22      MT
23      VN
24      BA
25      BE
26      TW
27      LT
28      DE
29      CO
..     ...
34      BH
35      PH
36      RU
37      CA
38      AD
39      IE
40      AT
41      ID
42      HU
43      LK
44      UG
45      FI
46      IL
47      LU
48      HR
49      XK
50      AE
51      NP
52      SG
53      CZ
54      MX
55      DK
56      ET
57      KW
58      MN
59      AR
60      RS
61      ZA
62      SK
63      GI

[64 rows x 1 columns]

In [6]:
query2 = '''SELECT DISTINCT(pollutant)
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE value = 0
        '''
result2 = open_aq.query_to_pandas_safe(query2)
result2

  pollutant
0      pm25
1       so2
2        o3
3       no2
4      pm10
5        co
6        bc