In [1]:
# setup
import bq_helper

hacker_news = bq_helper.BigQueryHelper(active_project='bigquery-public-data',
                                      dataset_name='hacker_news')
# explore tables
hacker_news.list_tables()

['comments', 'full', 'full_201510', 'stories']

In [2]:
# explore table 'full'
hacker_news.head('full')

,by,score,time,timestamp,title,type,url,text,parent,deleted,dead,descendants,id,ranking
0,coldcode,NaN,1384617206,2013-11-16 15:53:26+00:00,,comment,,Or not. Wait until Samsung decides finally to ...,6744648.0,None,None,NaN,6745128,None
1,hellbanner,NaN,1500697381,2017-07-22 04:23:01+00:00,,comment,,"Gotcha, I haven&#x27;t seen those spam comment...",14802743.0,None,None,NaN,14825398,None
2,SoftwareMaven,NaN,1312989569,2011-08-10 15:19:29+00:00,,comment,,"Are you sure ""whomever""? Isn't that the object...",2868550.0,None,None,NaN,2868620,None
3,fitzwatermellow,102.0,1441221791,2015-09-02 19:23:11+00:00,Chanakya: India's Machiavelli,story,http://nationalinterest.org/feature/chanakya-i...,,NaN,None,None,25.0,10161389,None
4,instruction-ptr,NaN,1508341589,2017-10-18 15:46:29+00:00,,comment,,To quote a fellow TA below:<p>“I am currently ...,15500061.0,None,None,NaN,15500113,None

**Questions**
1. How many unique stories are there in the full table?
2. How many comments have been deleted?

In [3]:
query1 = '''SELECT COUNT(DISTINCT(id)) AS stories
        FROM `bigquery-public-data.hacker_news.full`
        '''
result1 = hacker_news.query_to_pandas_safe(query1)
result1

    stories
0  16609618

In [4]:
query2 = '''SELECT type, COUNT(*) AS count
        FROM `bigquery-public-data.hacker_news.full`
        WHERE deleted = True
        GROUP BY type
        HAVING type = 'comment'
'''
result2 = hacker_news.query_to_pandas_safe(query2)
result2

      type   count
0  comment  373916

There are 16,373,180 unique stories in the Hacker News database and 368,705 comments that have been deleted.